<style>

.row {
background-color:#eef;
}

figcaption {
padding-top:10px;
font-size:14px;
font-style: italic;
}

.navbar  {
    margin-top: 16px;
    position: fixed;
    font-size: 13px;
    background-color: #fff;
    margin-bottom: 15;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 4px;
}

.navbar-right li {
    font-family: "Avenir",sans-serif;
    color: #2800D7;
}

.navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav> .active > a:hover {
    background-color: #fff;
    color:#2800D7;
}

.navbar-default .navbar-nav > .active {
    background-color: #fff;

}

.navbar-default .navbar-brand {
    font-weight: bold;
    color: #2800D7;
    /*background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fa1e64),color-stop(100%, #2800D7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.navbar-default .navbar-brand:hover {
    font-weight: bold;
    color: #fa1e64;
    /*background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fa1e64),color-stop(100%, #2800D7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}





section {padding-top: 100px; margin-top:-100px;}

.popover h2, .popover h3 {
margin-top: 5px;
padding-top: 0px;
}

table {
margin: auto;
/*text-align: center;*/
}

#banner {
text-align: center;
background-size: 100%;  
margin-bottom:0px; padding-bottom:0px;
background-repeat: no-repeat; padding-top:50px;
text-align: center; height:350px;
}

@media (max-width: 1200px) {
   #banner {
   margin-top: 70px;
   height:250px;
   }
}

@media (max-width: 750px) {
   #banner {
   margin-top: 70px;
   height:150px;
   margin-bottom: -60px;
   }
}

.content-main {
padding-top:0px;
margin-top:0px;
text-align: center;
background-color: #eef !important;
}

.content-right {
padding-left: 60px; padding-right: 80px; padding-bottom: 50px;
}

@media (min-width: 640px) {
.div33 {width: 31%; float: left; margin-left: 1%; margin-right: 1%;}
}
@media (min-width: 640px) {
.div50 {width: 48%; float: left; margin-left: 1%; margin-right: 1%;}
}

#sidebar.affix {
    top: 120px;
}

@media (max-width: 910px) {
   #sidebar {
   display: none;
   }
}



/* sidebar */
.bs-docs-sidebar {
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
font-family:Arial, Avenir !important;
text-align: left;
}

/* all links */

.bs-docs-sidebar .nav>li {
line-height:100%;      
}

.bs-docs-sidebar .nav>li>a {
    color: #555;
    border-left: 2px solid transparent;
    padding: 4px 10px;
    font-size: 13px;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #005;                 
    text-decoration: none;         
    background-color: #fff; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-size: 15px;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-size: 12px;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}


#sideMenu, #top_title {
display: none;
}
body {
font-family:Avenir !important;
text-align: center;
}

#content {
width: 100%;
margin: 0px;
padding: 0px;
background: #none;
}
.container-fluid img {
margin: 5px;
}

.pageTitle {
font-size:80px;
line-height: 100%;
font-weight:bold;
font-family:Avenir, Calibri, Arial !important;
padding-top:60px;
padding-bottom:20px;
}

@media (max-width: 720px) {
.pageTitle {
font-size: 40px;
}
}

.pageTitleOrange
{
color: #ED7D31;
}

.pageTitleBlue
{
color: #00B0F0;
}

.pageTitleGreen
{
color: #3FC24A;
}


.pageTitlePurple
{
color: #D397E3;
}


.pageTitleNavy
{
color: #203A77;
}

.pageTitleGold
{
color: #FFC935;
}

.pageTitleSilver
{
color: #BFBEC0;
}


.container-fluid h1 {
font-weight:bold;
font-size:70px;
font-family:Avenir, Calibri, Arial !important;
padding-top: 100px; margin-top:-75px;
padding-bottom:20px;
}
.container-fluid h2 {
color: #A7689B;
font-weight:bold;
font-family:Avenir, Calibri, Arial !important;
text-align:left;
font-size:38px;
padding-top: 100px; margin-top:-75px;
padding-bottom:20px;
}
.container-fluid h3 {
color: #BF78AE;
text-decoration: bold;
text-align:left;
font-size:25px;
font-family:Avenir, Calibri, Arial !important;
padding-top: 100px; margin-top:-75px;
padding-bottom:10px;
}

@media (max-width: 600px) {
.container-fluid h1 {
font-size:40px;
}
.container-fluid h2 {
font-size:30px;
}
.container-fluid h3 {
font-size:24px;
}
}


.h4Purple {
color: #BF78AE;
text-decoration: bold;
font-style:italic;
text-align:left;
font-size:20px;
font-family:Avenir, Calibri, Arial !important;
line-height:170%;
}

.container-fluid b {
text-decoration: bold;
font-family:Avenir, Calibri, Arial !important;
}
@media (max-width: 1150px) {
   .caret {
   display: none;
   }
}



#parent-banner {
margin: 0px; padding: 15px 0px 30px;
}

#parent-banner img {
width: 100%;
margin: 0px;
}

#banner-discription {
margin-left: 25px;
margin-right: 25px;
  border-radius: 10px;
  background-color: #005; 
  padding-bottom: 10px;
}


#banner-discription h2 {
color: #fff;
border-color: #fff;
}

/* #banner-discription p {
color: #fff;
} */
#child-discription div {
padding: 10px;
}

#child-discription div div {
border-radius: 10px;
border: 2px solid #ddd;
background-color: #ccc;
}

#child-discription h2 {
margin-top: -10px;
color: #fff;
text-align: center;
border-color: #fff;
}

/*
#child-discription p {
color: #fff;
}
*/

#child-discription a {
text-decoration: none;
}


@media (min-width: 900px) {
#parent-banner {
 position: relative;
}
#banner-discription {
  margin: 50px 25px 50px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.7;
}

#banner-discription h2 {
color: #fff;
opacity: 5.0;
font-size: 24px;
margin: 0px 0px 10px;
padding: 0px;
}
/*
#banner-discription p {
color: #fff;
opacity: 5.0;
}
*/

p
{
font-family:Avenir, Calibri, Arial !important;
font-size: 18px !important;
color: #3F3F3F;
line-height:200%;
margin-top:20px;
margin-bottom:20px;
}

.footnote
{
font-family:Avenir, Calibri, Arial !important;
font-size: 12px !important;
color: #3F3F3F;
line-height:200%;
margin-top:20px;
margin-bottom:20px;
}

.container-fluid li {
font-family:Avenir, Calibri, Arial !important;
list-style-type: square;
text-align: left; !important;
line-height:180%;
font-size:16px !important;

}

.navFont
{
font-size:20px !important;
}

.textLiFont
{
font-size:16px !important;
font-family:Avenir, Calibri, Arial !important;
color: #3F3F3F;
line-height:200%;
list-style-type: square;
}

.container-fluid li li {
list-style-type: circle;
}

.nav li {
list-style-type: none;
font-size:20px !important;
}

.nav li li {
list-style-type: none;
}

.navbar-header {
background-color:#FFF;
}

.references
{
font-size:8px !important;
line-height:200% !important;
}

</style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" style="margin-top: 10px; padding-top: 14px; height:80px; font-size:22px !important;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  

    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
